.article {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(136, 136, 136);
  width: 70%;
  display: inline-block;
  margin-bottom: 50px;
  box-shadow: 5px 0px 10px rgb(221, 221, 221);
}

.article .section_name {
  color: rgb(230, 122, 0);
  border-bottom: 1px solid rgb(221, 221, 221);
  width: 90%;
  padding-bottom: 5px;
  display: inline-block;
}
