@media all {
  .last_ad {
    background-color: rgb(250, 250, 250);
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    margin-bottom: 50px;
    box-shadow: 5px 0px 10px rgb(221, 221, 221);
    border-radius: 5px;
    text-align: right;
    vertical-align: bottom;
    overflow: hidden;
  }
  .last_ad img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  .view_all img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
  .view_all {
    background-color: rgb(35, 35, 189);
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    margin-bottom: 50px;
    box-shadow: 5px 0px 10px rgb(221, 221, 221);
    border-radius: 5px;
    overflow: hidden;
    text-align: right;
    vertical-align: bottom;
  }
  .last_ad .ad_price {
    background-color: rgba(0, 0, 0, 0.2);
    padding-right: 10px;
    font-size: 20px;
    color: rgb(35, 35, 189);
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
  }
  .view_all .text {
    font-size: 20px;
    color: rgb(250, 250, 250);
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 100%;
    background-color: rgba(250, 250, 250, 0.2);
  }
  .last_ad:hover,
  .view_all:hover {
    cursor: pointer;
  }
}
@media all and (max-device-width: 480px) {
  .last_ad,
  .view_all {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1.5%;
  }
  .last_ad img,
  .view_all img {
    height: 400px;
  }
  .last_ad .ad_price,
  .view_all .text {
    font-size: 40px;
  }
}
