@media all {
  #post_anad {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(136, 136, 136);
    width: 70%;
    display: inline-block;
    margin: 0px;
    box-shadow: 5px 0px 10px rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  #post_anad h1 {
    color: rgb(250, 250, 250);
    background-color: rgb(255, 98, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px;
    padding-bottom: 15px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5px;
  }
  #post_anad h1 input {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  #post_anad h2 {
    color: rgb(255, 98, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 90%;
    padding-bottom: 5px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
  }

  #post_anad .label_input {
    width: 40%;
    border: 0px solid rgba(0, 0, 0, 0);
    font-size: 1.1em;
    margin: 10px;
    color: white;
    display: inline-block;
  }
  #post_anad .an_input {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    background-image: linear-gradient(
      45deg,
      rgb(255, 255, 255),
      rgb(240, 240, 240)
    );
    transition: all 0.1s;
    text-align: right;
    display: inline-block;
  }
  #post_anad .an_input:hover {
    border: 1px solid rgb(255, 98, 0);
  }
  #post_anad .an_input input,
  #post_anad .an_input select {
    border: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  #post_anad .an_input i {
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid rgb(210, 210, 210);
  }
  #post_anad textarea {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    background-image: linear-gradient(
      45deg,
      rgb(255, 255, 255),
      rgb(240, 240, 240)
    );
    transition: all 0.1s;
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 95%;
    min-width: 95%;
    padding: 10px;
    min-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #post_anad textarea:hover {
    border: 1px solid rgb(255, 98, 0);
  }
  #post_anad #button_submit {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(201, 80, 5, 0);
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(
      45deg,
      rgb(255, 113, 25),
      rgb(255, 98, 0)
    );
    transition: all 0.1s;
    margin-right: 10px;
  }
  #post_anad #button_submit:hover {
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      rgb(255, 98, 0),
      rgb(255, 113, 25)
    );
    border: 1px solid rgb(14, 14, 14);
  }
  #post_anad #button_submit i {
    padding: 5px;
  }

  #post_anad .category .a_category {
    color: rgb(255, 98, 0);
    font-weight: bold;
  }
  #post_anad .category .a_subcategory {
    color: rgb(0, 0, 0);
  }
}
@media all and (max-device-width: 480px) {
  #post_anad {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  #post_anad i {
    font-size: 45px;
  }
  #post_anad input,
  #post_anad select,
  #post_anad textarea,
  #post_anad button {
    font-size: 50px;
    margin: 5px;
    border-radius: 0px;
  }
  #post_anad .an_input,
  #post_anad button {
    margin: 0px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  #post_anad #button_submit {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    padding: 15px;
  }
  #post_anad h1 {
    display: block;
    border-radius: 0px;
  }
}
