#research_component {
  width: 70%;
  display: inline-block;
  color: white;
  background-image: linear-gradient(45deg, rgb(255, 98, 0), rgb(255, 98, 0));
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 50px;
  box-shadow: 5px 0px 10px rgb(221, 221, 221);
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0);
}

#research_component #research,
#research_component #category {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-image: linear-gradient(
    45deg,
    rgb(255, 255, 255),
    rgb(240, 240, 240)
  );
  transition: all 0.1s;
  display: inline-block;
  padding: 10px;
}
#research_component #category:hover {
  color: rgb(255, 98, 0);
  cursor: pointer;
}
#research_component #research input {
  border: none;

  background-color: rgba(0, 0, 0, 0);
}

#research_component #category .icon-down-open {
  padding: 5px;
  margin-left: 5px;
  border-left: 1px solid rgb(210, 210, 210);
}
#research_component #research i:hover {
  color: rgb(255, 98, 0);
  cursor: pointer;
}
#research_component #price_range {
  width: 20%;
  display: inline-block;
}

#research_button_section {
  width: 100%;
}
#research_button {
  display: inline-block;
  background-color: rgb(35, 35, 189);
  color: white;
  font-size: 1.2em;
  padding: 15px;
  position: relative;
  top: -80px;
  border-radius: 5px;
}
#research_button:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 165);
}
